@import url("coolborder.css");
@import url("grid.css");
@import url("text-color.css");
@import url("bg-color.css");
@import url("carousel-size.css");
@import url("footer.css");

body {
  background-color: #000000 !important;
}

.pri-font {
  font-family: "Bebas Neue", sans-serif !important;
}

.sec-font {
  font-family: "Montserrat", sans-serif !important;
}

.fontsize-tech {
  font-size: 1.5rem;
}

.buttonurgent {
  color: #000000 !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
}
